TikTok_Scrapper.json
{
  "name": "TikTok_Scrapper",
  "nodes": [
    {
      "parameters": {},
      "id": "5b2030c6-8f99-49fe-98e7-bbf591525b94",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -416,
        32
      ]
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "0FXVyOXXEmdGcV88a",
          "mode": "list",
          "cachedResultName": "TikTok Profile Scraper (clockworks/tiktok-profile-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/0FXVyOXXEmdGcV88a/input"
        },
        "customBody": "={\n    \"excludePinnedPosts\": false,\n    \"profiles\": [\n        \"{{$json.username}}\"\n    ],\n    \"shouldDownloadAvatars\": false,\n    \"shouldDownloadCovers\": false,\n    \"shouldDownloadSlideshowImages\": false,\n    \"shouldDownloadSubtitles\": false,\n    \"shouldDownloadVideos\": false\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        0,
        32
      ],
      "id": "e63fe97f-6670-44f2-a71d-407a58c97afa",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "fPGcO8PisAdwByJm",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c529fe8f-efcb-4077-b0e3-3151edbad152",
              "name": "URL",
              "value": "={{ $json.authorMeta.profileUrl }}",
              "type": "string"
            },
            {
              "id": "9e1fa772-bf14-4597-ab0a-1ba01a2b56f1",
              "name": "Bio",
              "value": "={{ $json.authorMeta.signature }}",
              "type": "string"
            },
            {
              "id": "f884a22c-0ae3-4b4f-95a0-368793a3cccb",
              "name": "Following",
              "value": "={{ $json.authorMeta.following }}",
              "type": "string"
            },
            {
              "id": "ecad69d4-25ff-4c7f-90e8-6b6f44e7eb10",
              "name": "Fana",
              "value": "={{ $json.authorMeta.fans }}",
              "type": "string"
            },
            {
              "id": "9491ed8c-f0d6-40ff-8d2d-a8bf4a7df322",
              "name": "Hearts",
              "value": "={{ $json.authorMeta.heart }}",
              "type": "string"
            },
            {
              "id": "5925d5f7-6756-4b05-9562-d0d8b9a1887d",
              "name": "Videos",
              "value": "={{ $json.authorMeta.video }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        144
      ],
      "id": "6a9a826a-0e05-4c42-a064-ce56a5fe43f7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "URL",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        480,
        144
      ],
      "id": "c3c008b4-f5ee-427f-9e9f-60eee0e692f7",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WX0eQrQ6wle4mEG_aWhmxQzVCTsolptk1tiOCtySbfc",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WX0eQrQ6wle4mEG_aWhmxQzVCTsolptk1tiOCtySbfc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 816463642,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WX0eQrQ6wle4mEG_aWhmxQzVCTsolptk1tiOCtySbfc/edit#gid=816463642"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $json.URL }}",
            "Bio": "={{ $json.Bio }}",
            "Following": "={{ $json.Following }}",
            "Fans": "={{ $json.Fana }}",
            "Hearts": "={{ $json.Hearts }}",
            "Videos": "={{ $json.Videos }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bio",
              "displayName": "Bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Following",
              "displayName": "Following",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fans",
              "displayName": "Fans",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hearts",
              "displayName": "Hearts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Videos",
              "displayName": "Videos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        144
      ],
      "id": "c9b2fffb-7553-43f7-abc7-1d020a6c4fe1",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OgCXWRjMaFRpbA9d",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5d60b6c-8ffc-447f-ae88-f746246e7fd5",
              "leftValue": "={{ $json.playCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "9b4f38b7-00d8-43d7-9f81-bd5b04b09568",
              "leftValue": "={{ $json.commentCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "f6b89b61-7a64-4c4d-adf9-c196c403a54f",
              "leftValue": "={{ $json.shareCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        256,
        -96
      ],
      "id": "5c0dfc10-3653-4f81-81a5-ca104fb989b2",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65ae889a-3e3e-4d83-b75d-baf598d7b8b0",
              "name": "Profile_URL",
              "value": "={{ $json.authorMeta.profileUrl }}",
              "type": "string"
            },
            {
              "id": "28554e9c-678d-478a-b368-f2a378f7b37a",
              "name": "TikTok_URL",
              "value": "={{ $json.musicMeta.playUrl }}",
              "type": "string"
            },
            {
              "id": "d32690dc-0a81-4cd3-83f1-c76579fbcbaa",
              "name": "sharecount",
              "value": "={{ $json.shareCount }}",
              "type": "number"
            },
            {
              "id": "0c6099a6-c6af-496b-b021-6d20a761eeeb",
              "name": "playcount",
              "value": "={{ $json.playCount }}",
              "type": "number"
            },
            {
              "id": "cf786b2e-d5dc-428d-894b-ffc2eaab4496",
              "name": "commentcount",
              "value": "={{ $json.commentCount }}",
              "type": "number"
            },
            {
              "id": "36c66e49-50d1-4652-9cd2-51dc478b4a5e",
              "name": "hashtags",
              "value": "={{ $json.hashtags.map(h => h.name).join(\", \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -96
      ],
      "id": "e1688c4f-1951-4d23-8872-42fcf936380d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "username",
              "value": "chhaseeb099"
            }
          ]
        },
        "options": {}
      },
      "id": "3da0cd56-e7bc-4cd2-be94-56d32665c10d",
      "name": "Set Username",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -208,
        32
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WX0eQrQ6wle4mEG_aWhmxQzVCTsolptk1tiOCtySbfc",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WX0eQrQ6wle4mEG_aWhmxQzVCTsolptk1tiOCtySbfc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 311458042,
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WX0eQrQ6wle4mEG_aWhmxQzVCTsolptk1tiOCtySbfc/edit#gid=311458042"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Profile": "={{ $json.Profile_URL }}",
            "Post_URL": "={{ $json.TikTok_URL }}",
            "shares": "={{ $json.sharecount }}",
            "comments": "={{ $json.commentcount }}",
            "hashtags": "={{ $json.hashtags }}",
            "plays": "={{ $json.playcount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Profile",
              "displayName": "Profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post_URL",
              "displayName": "Post_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "shares",
              "displayName": "shares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "plays",
              "displayName": "plays",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -96
      ],
      "id": "6828193d-75ce-480c-b16a-6a3a5689c1c3",
      "name": "Append row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OgCXWRjMaFRpbA9d",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Set Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Username": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b5a8d41-a937-4842-848b-36861c31e6f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81a6c95a78938d92ac1128d7693a5a936304b25ccb5aec4970e5b81b791ffcd0"
  },
  "id": "s0OjVWfkX7Je7VCx",
  "tags": []
}