TikTok_Scrapper.json
{
  "name": "TikTok_Scrapper",
  "nodes": [
    {
      "parameters": {},
      "id": "3be36cfc-26d2-4f52-802f-b7646af4504e",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -304,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c529fe8f-efcb-4077-b0e3-3151edbad152",
              "name": "URL",
              "value": "={{ $json.authorMeta.profileUrl }}",
              "type": "string"
            },
            {
              "id": "9e1fa772-bf14-4597-ab0a-1ba01a2b56f1",
              "name": "Bio",
              "value": "={{ $json.profile.bio }}",
              "type": "string"
            },
            {
              "id": "f884a22c-0ae3-4b4f-95a0-368793a3cccb",
              "name": "Following",
              "value": "={{ $json.profile.following }}",
              "type": "string"
            },
            {
              "id": "ecad69d4-25ff-4c7f-90e8-6b6f44e7eb10",
              "name": "Fana",
              "value": "={{ $json.profile.followers }}",
              "type": "string"
            },
            {
              "id": "9491ed8c-f0d6-40ff-8d2d-a8bf4a7df322",
              "name": "Hearts",
              "value": "={{ $json.profile.likes }}",
              "type": "string"
            },
            {
              "id": "5925d5f7-6756-4b05-9562-d0d8b9a1887d",
              "name": "Videos",
              "value": "={{ $json.authorMeta.video }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        160
      ],
      "id": "5d7a71a0-e0f3-4828-95df-65de860ccc41",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "URL",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        800,
        160
      ],
      "id": "90a7f393-2f6b-4512-92c3-a65fd903686c",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WX0eQrQ6wle4mEG_aWhmxQzVCTsolptk1tiOCtySbfc",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WX0eQrQ6wle4mEG_aWhmxQzVCTsolptk1tiOCtySbfc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 816463642,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WX0eQrQ6wle4mEG_aWhmxQzVCTsolptk1tiOCtySbfc/edit#gid=816463642"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $json.URL }}",
            "Bio": "={{ $json.Bio }}",
            "Following": "={{ $json.Following }}",
            "Fans": "={{ $json.Fana }}",
            "Hearts": "={{ $json.Hearts }}",
            "Videos": "={{ $json.Videos }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bio",
              "displayName": "Bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Following",
              "displayName": "Following",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fans",
              "displayName": "Fans",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hearts",
              "displayName": "Hearts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Videos",
              "displayName": "Videos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        160
      ],
      "id": "a1185c5f-7d06-4cfa-b102-b8bf2bff4a94",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mSvz42GEjUXe0RdR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5d60b6c-8ffc-447f-ae88-f746246e7fd5",
              "leftValue": "={{ $json.posts.views }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "f6b89b61-7a64-4c4d-adf9-c196c403a54f",
              "leftValue": "={{ $json.posts.shares }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        624,
        -144
      ],
      "id": "98b09f3d-f351-4e66-b742-df737dafe8e3",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65ae889a-3e3e-4d83-b75d-baf598d7b8b0",
              "name": "Profile_URL",
              "value": "={{ $json.authorMeta.profileUrl }}",
              "type": "string"
            },
            {
              "id": "28554e9c-678d-478a-b368-f2a378f7b37a",
              "name": "TikTok_URL",
              "value": "={{ $json.webVideoUrl }}",
              "type": "string"
            },
            {
              "id": "d32690dc-0a81-4cd3-83f1-c76579fbcbaa",
              "name": "sharecount",
              "value": "={{ $json.posts.shares }}",
              "type": "number"
            },
            {
              "id": "0c6099a6-c6af-496b-b021-6d20a761eeeb",
              "name": "playCount",
              "value": "={{ $json.posts.views }}",
              "type": "number"
            },
            {
              "id": "cf786b2e-d5dc-428d-894b-ffc2eaab4496",
              "name": "commentcount",
              "value": "={{ $json.posts.comments }}",
              "type": "number"
            },
            {
              "id": "36c66e49-50d1-4652-9cd2-51dc478b4a5e",
              "name": "hashtags",
              "value": "={{ $json.posts.hashtags }}",
              "type": "string"
            },
            {
              "id": "21c3a725-7627-4ebc-bddf-a978c83046f1",
              "name": "timestamps",
              "value": "={{ $json.posts.timestamp }}",
              "type": "string"
            },
            {
              "id": "f891208e-5d9b-4ced-8fcb-61209792ee59",
              "name": "post_id",
              "value": "={{ $json.posts.post_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -144
      ],
      "id": "2a9a1209-29bc-45d5-a083-c4cb68f538fd",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "username",
              "value": "realtogi.ae"
            }
          ]
        },
        "options": {}
      },
      "id": "5cbec037-9cff-49f7-b161-87af5d6593ba",
      "name": "Set Username",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -96,
        48
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WX0eQrQ6wle4mEG_aWhmxQzVCTsolptk1tiOCtySbfc",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WX0eQrQ6wle4mEG_aWhmxQzVCTsolptk1tiOCtySbfc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 311458042,
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WX0eQrQ6wle4mEG_aWhmxQzVCTsolptk1tiOCtySbfc/edit#gid=311458042"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Profile": "={{ $json.Profile_URL }}",
            "Post_URL": "={{ $json.TikTok_URL }}",
            "shares": "={{ $json.sharecount }}",
            "comments": "={{ $json.commentcount }}",
            "hashtags": "={{ $json.hashtags }}",
            "plays": "={{ $json.playCount }}",
            "timestamps": "={{ $json.timestamps }}",
            "post_id": "={{ $json.post_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Profile",
              "displayName": "Profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post_URL",
              "displayName": "Post_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "shares",
              "displayName": "shares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "plays",
              "displayName": "plays",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamps",
              "displayName": "timestamps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "post_id",
              "displayName": "post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        -144
      ],
      "id": "276e9cee-ac4d-42c1-a174-aeaabcc4127e",
      "name": "Append row Posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mSvz42GEjUXe0RdR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://470d24fcefd0.ngrok-free.app/profile\n",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{ $json.username }}"
            },
            {
              "name": "full_details",
              "value": "=true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        48
      ],
      "id": "4604b471-1550-48d4-8ade-8e58d504dbef",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "posts",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        -144
      ],
      "id": "d1415619-e839-43e7-8bb1-b885108c0bd0",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Set Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append row Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Username": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row Posts": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4ddf1428-34ac-42e2-bdde-06a2c30ba0cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1add8110bf3b6d0d87268bbb21fe5fab6910fcae023299dc7bb0616a3e3fac3"
  },
  "id": "q6GDa5y9j2DxfJog",
  "tags": []
}